<nav>
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <i class="pi pi-book"></i>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex-search-logout">
        <p-autoComplete [(ngModel)]="selected" [suggestions]="filteredBooks" (completeMethod)="filterBooks($event)"
          (onSelect)="selectedBook($event)" field="title">
        </p-autoComplete>
        <p-button icon="pi pi-fw pi-power-off" (onClick)="logout()" [rounded]="true" [text]="true" severity="danger" class="ml-1"></p-button>
      </div>
    </ng-template>
  </p-menubar>
</nav>
<main>
  <router-outlet />
</main>