/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
}

.book-category {
  font-size: 0.75em;
  color: #6c757d;
}

.login {
  background: url("./assets/login.jpg") no-repeat center;
}

.register {
  background: url("./assets/register.jpg") no-repeat center;
}

.no-page{
  background: url("./assets/404.jpg") no-repeat center;
}

.login,
.register,
.no-page {
  height: 100vh;
  display: flex;
  background-size: cover;
}

.login__card,
.register__card,
.no-page__card {
  width: 100%;
  opacity: 0.8;
}

.w-100 {
  width: 100%;
}

.mt-2 {
  margin-top: 2em;
}

.card-image {
  max-height: 400px;
  object-fit: contain;
  margin-top: 2em;
}

.pi.pi-book {
  display: none;
}

@media (min-width: 576px) {

  .book-detail-card,
  .login__card,
  .register__card,
  .no-page__card {
    max-width: 400px;

  }

  .book-detail-card {
    margin: 2em auto;
  }

  .login,
  .register,
  .no-page {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {

  .book-detail-card,
  .login__card,
  .register__card,
  .no-page__card {
    max-width: 600px;
  }

  .pi.pi-book {
    display: block;
  }
}